<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Perfume Store</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav>
    <a th:href="@{/}"> Giftify</a>
    <a th:href="@{/products}">Products</a>
</nav>

<div class="auth-container">
    <h2>Login</h2>

    <!-- Error message -->
    <p class="error" th:if="${param.error}">
        Invalid email or password. Try again.
    </p>

    <form th:action="@{/auth/login}" method="post">
        <input type="email"
               name="username"
               placeholder="Email address"
               required/>

        <input type="password"
               name="password"
               placeholder="Password"
               required/>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account?
        <a th:href="@{/auth/register}">Register here</a>
    </p>
</div>

</body>
</html>